<script type="x-template" id="boton-menu-component">
    <div id="boton-menu-component" class="col-md-6 col-sm-12 padding-half">
        <div class="nf-card d-flex flex-column btn-link" style="border-radius: 6px">
            <a :href="link" @@click="cambiar(onclick)">
                <div class="col-md-12"> 
                    <div class="col-md-3 center-block">
                        <i class="fa fa-5x text-primary padding-top-half" v-bind:class="icono"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="text-left h2">
                            <span class="text-primary">
                                <strong>{{titulo}}</strong>
                            </span><br>
                            <span class="text-info" >
                                <small>{{subtitulo_linea1}}</small>
                                <small><br>{{subtitulo_linea2}}</small>
                                <small><br>{{subtitulo_linea3}}</small>
                            </span>
                        </p>
                    </div> 
                </div>
            </a>
        </div>
    </div>
</script>

<script src="~/scripts/Shared/BotonMenu/BotonMenu.js"></script>

<script>
    $(document).ready(function () {
        Vue.component('boton-menu-component', new Comercial.BotonMenu.BotonMenu());
    });
</script>